---
import { getCollection } from "astro:content";
import { idIsOfLanguage, pick, useTranslations } from "../../i18n/utils";
import ExpertisePreview from "../business/ExpertisePreview.astro";
import Grid from "../ui/Grid.astro";
import Box from "../ui/Box.astro";
import IconText from "../ui/IconText.astro";
import Technology from "../business/Technology.astro";
import RelatedInsights from "../business/RelatedInsights.astro";

const { lang, slug } = Astro.props;

const expertiseEntries = await getCollection("expertise");

const expertise = expertiseEntries.find((s) => s.id === slug)?.data;

const insightEntries = await getCollection("insights");
const caseStudyEntries = await getCollection("case-studies");

const relatedInsights = (expertise?.insights ?? []).flatMap((s) => {
  const e = insightEntries.find(
    (i) => idIsOfLanguage(i.id, lang) && i.id.split("/")[1] === s,
  );
  return e ? [e] : [];
});
const relatedCaseStudies = (expertise?.case_studies ?? []).flatMap((s) => {
  const e = caseStudyEntries.find((c) => c.id === s);
  return e ? [e] : [];
});

const sectionHeading =
  "my-8 md:my-16 text-center font-bold uppercase text-2xl sm:text-3xl lg:text-4xl";

const t = useTranslations(lang);
---

{
  !!expertise ? (
    <section class="flex flex-col gap-8 pb-8" id={expertise.slug}>
      <ExpertisePreview expertise={expertise} linked={false} swap />
      <Grid cols={3} gap={8}>
        {expertise.tech.map((technology) => (
          <Technology technology={technology} />
        ))}
      </Grid>
      {relatedCaseStudies.length > 0 && (
        <div class="flex flex-col gap-4">
          <h2 class={sectionHeading}>{t("common.relatedCaseStudies")}</h2>
          <Grid cols={3} gap={4}>
            {relatedCaseStudies.map((caseStudy) => (
              <Box padded href={`/${lang}/case-studies/${caseStudy.data.slug}`} customClass="h-full">
                <IconText
                  size="sm"
                  title={pick(caseStudy.data.title, lang)}
                  subtitle={caseStudy.data.client}
                  description={pick(caseStudy.data.description, lang)}
                />
              </Box>
            ))}
          </Grid>
        </div>
      )}
      <RelatedInsights insights={relatedInsights} headingClass={sectionHeading} />
    </section>
  ) : (
    <div>
      <h1 class="section-title">{t("home.expertise.notFound")}</h1>
    </div>
  )
 }